<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.hatebyte.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>BrandonGrotesque-Black.otf</string>
		<string>BrandonGrotesque-Light.otf</string>
		<string>BrandonGrotesque-Medium.otf</string>
		<string>BrandonGrotesque-Thin.otf</string>
		<string>BrandonGrotesque-Bold.otf</string>
		<string>BrandonGrotesque-Regular.otf</string>
		<string>MinionPro-Regular.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>defaultimages</key>
	<array>
		
        <string>brussel-sprouts-vid-part-1.mov</string>
		<string>brussel-sprouts-vid-part-2.mov</string>
		<string>brussel-sprouts-vid-part-3.mov</string>
		<string>brussel-sprouts-vid-part-4.mov</string>
		<string>brussel-sprouts-vid-part-5.mov</string>
		<string>brussel-sprouts-vid-part-6.mov</string>
		<string>brussel-sprouts-vid-part-7.mov</string>
		<string>brussel-sprouts-vid-part-8.mov</string>
        <string>brussel-sprouts-cover.png</string>
		
        <string>coffee-img-part-1.png</string>
		<string>coffee-img-part-2.png</string>
		<string>coffee-img-part-3.png</string>
		<string>coffee-img-part-4.png</string>
		<string>coffee-img-part-5.png</string>
		<string>coffee-img-part-6.png</string>
		<string>coffee-img-part-7.png</string>
        <string>coffee-cover.png</string>
       
        <string>crazy-train-cover.png</string>
        <string>crazy-train-vid-part-1.mov</string>
        <string>crazy-train-vid-part-2.mov</string>
        <string>crazy-train-vid-part-3.mov</string>
        
        <string>steak-cover.png</string>
        <string>steak-img-part-1.png</string>
        <string>steak-img-part-13.png</string>
        <string>steak-vid-part-2.mov</string>
        <string>steak-vid-part-3.mov</string>
        <string>steak-vid-part-4.mov</string>
        <string>steak-vid-part-5.mov</string>
        <string>steak-vid-part-6.mov</string>
        <string>steak-vid-part-7.mov</string>
        <string>steak-vid-part-8.mov</string>
        <string>steak-vid-part-9.mov</string>
        <string>steak-vid-part-10.mov</string>
        <string>steak-vid-part-11.mov</string>
        <string>steak-vid-part-12.mov</string>
        <string>steak-vid-part-13.mov</string>
        
        <string>cardio-cover.png</string>
        <string>cardio-vid-part-1.mov</string>
        <string>cardio-vid-part-2.mov</string>
        <string>cardio-vid-part-3.mov</string>
        <string>cardio-vid-part-4.mov</string>
        <string>cardio-vid-part-5.mov</string>
        <string>cardio-vid-part-6.mov</string>
        <string>cardio-vid-part-7.mov</string>
        <string>cardio-vid-part-8.mov</string>
        <string>cardio-img-part-9.png</string>
        
        <string>yoga-cover.png</string>
        <string>yoga-vid-step-1.mov</string>
        <string>yoga-vid-step-2.mov</string>
        <string>yoga-vid-step-3.mov</string>
        <string>yoga-vid-step-4.mov</string>
        <string>yoga-vid-step-5.mov</string>
        <string>yoga-vid-step-6.mov</string>
        <string>yoga-vid-step-7.mov</string>
        
        

	</array>
</dict>
</plist>
